body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-image: url('back_1.png'); /* Путь к фоновому изображению */
    background-color: #1C1C1C;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Центрирование изображения по горизонтали и вертикали */
    text-align: center;
    color: #ffffff; /* Белый цвет текста */
}

h1 {
    font-family: Georgia, serif; /* Шрифт для заголовков */
    color: #ffcc00; /* Золотистый цвет для заголовков */
    /* Удаление тени текста для лучшей совместимости */
}

#request {
    padding-top: 2vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.text-background {
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный темный фон */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px; /* Закругленные углы */
}

.divider {
    height: 2px;
    background-color: #ffcc00;
    width: 50%;
    margin: 50px auto;
}

@keyframes slideInFromSide {
    from {
        transform: translateX(var(--start-position));
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.card {
    flex-grow: 1;
    flex-basis: calc(30% - 20px); /* 3 карты в строке для широких экранов */
    max-width: calc(30% - 20px);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для карт */
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный темный фон для карт */
    animation: slideInFromSide 1s ease-out forwards;
    animation-delay: calc(var(--card-index) * 0.2s);
    opacity: 0; /* Начальное состояние - полностью прозрачное */
}

.card img {
    max-width: 100%;
    height: auto;
}
